@font-face{
  font-family: 'Nunito Sans', 'Playfair Display';
  src: url(../fonts/NunitoSans-Regular.ttf) format("truetype");
  src: url(../fonts/PlayfairDisplay-Regular.ttf) format("truetype");
 }

.wrapper {
	width: 960px;
	margin: 0 auto;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 9px;
	line-height: 14px;
}

#section1, #section2, #section4 {
	width: 790px;
	margin: 0 auto;
}

.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

header {
	min-height: 528px;
	background-image: url(../img/Header.jpg);
	background-repeat: no-repeat;
	background-position: 0% 0%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}

nav {
	width: 687px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}

.sprite-Menu { 
	width: 25px;
    height: 25px;
    background-position: -13px 2px;
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.burger {
	width: 25px;
	height: 25px;
	-moz-border-radius-top-right: 10px; 
    border-top-right-radius: 10px;
    -moz-border-radius-bottom-right: 10px; 
    border-bottom-right-radius: 10px;
    border: none;
    cursor: pointer;
}

.menu {
   	margin-left: auto;
   	display: -webkit-flex;
   	display: -moz-flex;
   	display: -ms-flex;
   	display: -o-flex;
   	display: flex;
   	-webkit-flex-direction: row;
   	-moz-flex-direction: row;
   	-ms-flex-direction: row;
   	-o-flex-direction: row;
   	flex-direction: row;
   	justify-content: flex-end;
}

.sub-menu {
	display: none;
	position: absolute;
	background-color: transparent;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(210,36,37,0.75);
            box-shadow: 0px 0px 1px 0px rgba(210,36,37,0.75);
    z-index: 1;
    border-radius: 10px;
}

.sub-menu a {
	color: #393939;
    font-size: 8px;
	height: 20px;
	min-width: 80px;
	padding-top: 5px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    text-align-last: center;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.sub-menu a:nth-child(2) {
	margin-right: 25px;
}

.sub-menu a:nth-child(5) {
	-moz-border-radius-top-left: 10px; 
    border-top-left-radius: 10px;
    -moz-border-radius-bottom-left: 10px; 
    border-bottom-left-radius: 10px;
}

.sub-menu a:hover {
	background-color: #eeeeee;
	color: #d22425;
	-webkit-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.menu:hover .sub-menu{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	-o-flex-direction: row-reverse;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	        flex-direction: row-reverse;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.menu:hover .burger {
	width: 25px;
	height: 25px;
	-webkit-box-shadow: inset -25px 0px 0px 0px #eeeeee;
	        box-shadow: inset -25px 0px 0px 0px #eeeeee;
	-webkit-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}

.name {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	color: #dbdbdb;
	margin-top: 116px;
}

.logo1 {
	font-size: 20px;
	font-stretch: ultra-expanded;
	margin: 0px;
	font-weight: 300;
	line-height: 23px;
}

.logo2 {
	font-size: 50px;
	color: #d22425;
	background-image: url(../img/block.png);
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 9px;
	text-transform: uppercase;
	margin: 0px;
	font-weight: 900;
	line-height: 48px;
}

.logo3 {
	font-size: 35px;
	margin: 0px;
	font-weight: 300;
	line-height: 66px;
}

.logo3 span {
	color: #333333;
	font-weight: 150;
}

.sprite-Arrow {
    width: 10px;
    height: 6px;
    background-position: -2px -2px;
}

.roll {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.arrow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border: 1px solid #eeeeee;
	border-radius: 15px;
	margin-top: 154px;
	width: 24px;
	height: 24px;
	-webkit-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}
	
.arrow:hover {
	-webkit-box-shadow: inset 0 0 0 12px #dbdbdb;
	        box-shadow: inset 0 0 0 12px #dbdbdb;
	-webkit-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

#section1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	min-height: 350px;
	background-image: url(../img/WhatWedo.png);
	background-position: 15% 24%;
	background-repeat: no-repeat;
}

.discription {
	margin-top: 14px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 257px;
	margin-right: 85px;
}

.title {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 27px;
	margin-bottom: 0px;
}

.text {
	margin-left: 25px;
	line-height: 14px;
	padding-top: 7px;
}

.textsection1 {
	color: #393939;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 8px;
	line-height: 9px;
	margin-left: 25px;
}

.image_baloons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 212px;
}

.baloons {
	-webkit-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

.baloons:hover {
	-webkit-box-shadow: 15px 14px 0px 0px rgba(0,0,0,1);
	        box-shadow: 15px 14px 0px 0px rgba(0,0,0,1);
	height: 263px;
	-webkit-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	border: 1px double #dbdbdb;
}

#section2 {
	margin: 0 auto;
	margin-top: 80px;
	background: url(../img/Blood.png) 85% 100% no-repeat,
				url(../img/InnovativeThinking.png) 27% 20% no-repeat;

	min-height: 560px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.firstcolumn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 229px;
}

.firstcolumn h2 {
	font-size: 7px;
	line-height: 10px;
	margin-bottom: 25px;
	margin-left: 104px;
	font-weight: 150;
	width: 210px;
	margin-top: 13px;
}

.textsection2 {
	margin-left: 26px;
	width: 196px;
	font-size: 9px;
	margin-top: 9px;
}

.firstcolumn span {
	font-size: 50px;
	color: #333333;
	font-weight: bold;
	margin: 0;
}

.secondcolumn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	margin-top: 1px;
}

.secondcolumn .textsection2 {
	margin-right: 85px;
}
	
.button {
	text-decoration: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border: 1px solid #eeeeee;
	color: #d22425;
	width: 70px;
	height: 20px;
	margin-top: 24px;
	margin-left: 47px;
	-webkit-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	font-weight: 900;
}

.button:hover {
	background-color: #d22425;
	width: 70px;
	height: 20px;
	border: 1px solid #dbdbdb;
	color: #fff;
	-webkit-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

#section3 {
	min-height: 350px;
	padding-left: 200px;
	margin-top: 160px;
	width: 775px;
	background-image: url(../img/SomeDesigns.png);
	background-repeat: no-repeat;
	background-position: 23% 5%;
}

.article {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	margin-top: 61px;
	line-height: 13px;
	margin-bottom: 16px;
}

.article h2 {
	font-size: 18px;
	font-family: 'Playfair Display', serif;
	font-weight: 150;
	width: 85px;
	line-height: 21px;
	margin-bottom: 4px;
	margin-top: 10px;
	color: #333333;
}

.textsection3 {
	width: 122px;
	height: 122px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	border: 1px solid #f0f0f0;
	padding-left: 25px;
	padding-right: 36px;
	padding-bottom: 5px;
	color: #898f9f;
}

.somedesings {
	margin-left: 0px;
	margin-right: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.examples {
	margin-left: 10px;
}

.link {
	text-decoration: none;
	margin-left: 1px;
	font-style: 7px;
	font-weight: 450;
	font-size: 8px;
	line-height: 15px;
	color: #d22425; 
	text-transform: uppercase;
}

.link:hover {
	border-bottom: 1px dashed #d22425;
}

#section4 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-left: 210px;
	margin-top: 40px;
	background-image: url(../img/ContactUs.png);
	background-repeat: no-repeat;
	background-position: 0% 50%;
}

.textsection4 {
	width: 150px;
	line-height: 12px;
	color: #898f9f;
	margin-top: 20px;
}

.contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	width: 516px;
	font-size: 8px;
	line-height: 11px;
	font-weight: 300;
}

.leftcolumn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-top: 18px;
	margin-left: 75px;
}

.mail {
	margin-top: 6px;
}

.phone {
	margin-top: 6px;
}

.leftcolumn input {
	width: 187px;
	padding-left: 6px;
	border: none;
	border-bottom: 1px solid #a5a5a5;
	padding-bottom: 13px;
}

.rightcolumn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-line-pack: start;
	    align-content: flex-start;
	margin-left: 35px;
	margin-top: 25px;
}

.comment {
	border: none;
	border-bottom: 1px solid #a5a5a5;
	min-height: 129px;
	font-style: 8px;
	line-height: 11px;
	font-family: 'Myriad', sans-serif;
	width: 281px;
	padding-left: 12px;
}

.button2 {
	border: none;
	color: #fff;
	background-color: #d22425;
	width: 64px;
	height: 25px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 450;
	text-transform: uppercase;
	font-size: 8px;
	line-height: 11px;
	margin-left: 218px;
	margin-top: 29px;
	-webkit-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

.button2:hover {
	border: 1px solid #d22425;
	background-color: #dbdbdb;
	color: #d22425;
	-webkit-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

footer { 
	height: 155px;
	background-image: url(../img/Footer.png);
	background-repeat: no-repeat;
	background-position: 0% -30%;
}

.heart {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.sprite-Heart {
    width: 12px;
    height: 12px;
    background-position: 0px -10px;
    padding-left: 1px;
    margin-top: 80px;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.sprite-Heart:hover {
	-webkit-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	-webkit-transform: scale(1.5);
  	-ms-transform: scale(1.5);
  	transform: scale(1.5);
}